<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^user/login$ index.php?controller=UserController&action=showLogin [L]
    RewriteRule ^user/validate$ index.php?controller=UserController&action=validate [L]
    RewriteRule ^airport/list$ index.php?controller=AirportController&action=showList [L]
    RewriteRule ^airport/showAdd$ index.php?controller=AirportController&action=showAdd [L]
    RewriteRule ^airport/add$ index.php?controller=AirportController&action=add [L]
    RewriteRule ^airport/delete/([0-9]+)$ index.php?controller=AirportController&action=deleteAirport&id=$1 [L]
    RewriteRule ^airport/update$ index.php?controller=AirportController&action=updateAirport [L]
    RewriteRule ^airport/showUpdate/([0-9]+)$ index.php?controller=AirportController&action=showUpdateAirport&id=$1 [L]
    RewriteRule ^airport/showSearch$ index.php?controller=AirportController&action=showSearch [L]
    RewriteRule ^airport/search$ index.php?controller=AirportController&action=search [L]
    RewriteRule ^airport/showImport$ index.php?controller=AirportController&action=showImport [L]
    RewriteRule ^airport/import$ index.php?controller=AirportController&action=import [L]
    RewriteRule ^user/destroy$ index.php?controller=UserController&action=destroy [L]

    #RewriteRule ^libro/listar_libros$ index.php?action=listLibro [L]
    #RewriteRule ^user/logout$ index.php?controller=UserController&action=logout [L]
    #Forma generica para las 4 opciones
    #RewriteRule ^([a-zA-Z]+)[/]?$ index.php?action=$1 [L]
</IfModule>

# Flag: [L]
# Stop the rewriting process immediately and don't apply any more rules.

# Referencia:
# - https://httpd.apache.org/docs/current/mod/mod_rewrite.html